<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.linkedin.com/in/kashish-v-539b7225a/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://github.com/kashishv08"
        ><i class="fa-brands fa-github"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy;VendorConnect Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
