<style>
  .search-btn {
    border-radius: 25px !important;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: white;
  }
  .search-btn i {
    display: inline !important;
    margin-right: 0.5rem !important;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0rem 1rem 0rem 2rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-magnifying-glass-location"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" id="website-name" href="/listings">VendorConnect</a>
      </div>

      <div class="search-bar ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 search-inp"
            type="search"
            placeholder="Search country"
            aria-label="Search"
          />
          <button class="btn btn-outline-success search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add your home</a>
        <% if (!currUser){ %>
        <a href="/signup" class="nav-link"><b>Sign up</b></a>
        <a href="/login" class="nav-link"><b>Log in</b></a>
        <% } %> <% if (currUser){ %>
        <a href="/logout" class="nav-link"><b>Log out</b></a>
        <% } %>
      </div>

      <% if (currUser) { %> <% if (currUser.role === "admin") { %>
      <a
        class="nav-link btn btn-sm ms-2 px-3 py-1 text-white bg-gradient-orange rounded-pill"
        href="/admin/dashboard"
      >
        <i class="fa-solid fa-user-shield me-1"></i> Admin Panel
      </a>
      <% } else if (currUser.role === "vendor") { %>
      <a
        class="nav-link btn btn-sm ms-2 px-3 py-1 text-white bg-gradient-purple rounded-pill"
        href="/vendor/dashboard"
      >
        <i class="fa-solid fa-store me-1"></i> Vendor Panel
      </a>
      <% } %> <% } %>
    </div>
  </div>
</nav>

<script>
  const form = document.querySelector('.search-bar form')
  const input = document.querySelector('.search-inp')

  form.addEventListener('submit', function (e) {
    e.preventDefault()
    const country = input.value.trim().toLowerCase().replace(/\s+/g, '-')
    if (country) {
      window.location.href = `/listings/country/${encodeURIComponent(country)}`
    }
  })
</script>
